
server:
  port: 8761

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  file:
    name: ${LOG_FILE_PATH:/var/log/service-discovery/stage_log.log}
    clean-history-on-start: ${LOG_CLEAN_HISTORY_ON_START:true}
  level:
    org:
      hibernate:
        SQL: DEBUG
      springframework:
        web: DEBUG
        data: DEBUG
      boot:
        autoconfigure:
          data:
            rest: DEBUG
            jpa: DEBUG
            orm: DEBUG

